.action-bar{
    visibility: collapsed;
}
.page{
    background-color: #05374E;
}
#kcfBible{
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Manjari', Manjari-Bold;
    margin-top: 3%;
}

#image{
    border-color: aliceblue;
    height: 350px;
    width: 350px;
    margin-top: 10%;
}

#profile{
    font-weight: bold;
    color: white;
    font-size: 27px;
    margin-top: 2%;
    font-family: 'Manjari', Manjari-Bold;
}
#email{
    opacity: 0.7;
    color: white;
    placeholder-color:white;
    border-width: 0 0 0.2 0;
    border-bottom-color: whitesmoke;
    margin-top: 10%;
    width: 100%;
    padding-left: 10%;
    border-color: transparent;
    
}
#password{
    opacity: 0.7;
    color: white;
    placeholder-color:white;
    border-width: 0 0 0.2 0;
    border-bottom-color: whitesmoke;
    margin-top: 10%;
    width: 100%;
    padding-left: 10%;
    border-color: transparent;
}

.fa{
    font-family: Fontawesome, fontawesome-webfont;
}
.icon{
    color: white;
    font-size: 16px;
    padding-top: 25%;
    border-bottom: 10%;
}
#loginButton{
    width: 30%;
    height: 40%;
    background-color: #05374E;
    border-width: 1.5 1.5 1.5 1.5;
    border-color: white;
    color: white;
    margin-top: 10%;
    border-radius: 10%;
    margin-right: 6%;
}
#facebookLoginButton{
    width: 60%;
    height: 35%;
    background-color: white;
    border-width: 1.5 1.5 1.5 1.5;
    border-color:  #05374E;
    color: #05374E;
    margin-top: 10%;
    border-radius: 10%;
    
    
}
.textField{
    border-bottom: 10%;
    border-width: 0 0 1 0;
    border-color: white;
    border-bottom-color: whitesmoke;
}
